.bundle/
tmp/
Gemfile.lock
.rvmrc
.rails-version*
.DS_Store
.rbenv-version
/.ruby-gemset
/.ruby-version
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/storage/
spec/dummy/tmp/
