<%= link_to "Type: " + params[:aggregate_type], url_for(aggregate_type: nil), class: 'badge badge-secondary' if params[:aggregate_type] %>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">aggregate_id</th>
      <th scope="col">aggregate_type</th>
      <th scope="col">data</th>
    </tr>
  </thead>

  <tbody class="events">
    <%= render partial: 'stream_record', collection: @streams %>
  </tbody>
</table>
